*{
    font-family: 'Teko', Verdana;
}
.todito{
    height: 852px;
    background-color: rgb(27, 27, 105);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}
.detalles{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(21, 21, 71);
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 300%;
}
.nombredet{
    font-size: 35px;
}
.preciodet{
    font-size: 25px;
}
.stockdet{
    font-size: 20px;
}
.count{
    padding-top: 50px;
}
.btnpetit{
    width: 350px;
    display: flex;
    justify-content: space-around;
}
.btnpete{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(252, 122, 0);
    color: white;
    border: 2px solid rgb(255, 102, 0);
    animation: 5s;
}
.btnpete:hover{
    transform: scale(1.1);
    cursor: pointer;
}